.gitconfig.local

*.log
*.sqlite

.DS_Store
.DS_Store*
.DS_Store?
.Spotlight-V100
thumbs.db

yarn.lock
node_modules

.keychain/
# .work/
.tmux/
.httpie/
.gnupg/
i3blocks-contrib/
.vscode/extensions
# NEOVIM
.vim/plugged

## FOLDERS

*[oO][fF][fF][iI][cC][iI][aA][lL]*
.keychain/
.gnupg/
