save-exact=true
registry=http://localhost:4873/
//registry.npmjs.org/:_authToken=47bc277a-073f-4e03-a3af-3a7fc8691985
//steps.everis.com/nexus/repository/:_authToken=NpmToken.e6f73ac6-7b95-31d5-9633-e3be2a15e082
//localhost:4873/:_authToken="HSrv6P6QYCs2o5tx711Q9rUnM5Hhq28ZD8oumMtd2JI="
